<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Assured Learning ATB13X">
    <test verbose="2" preserve-order="true" name="ATB13X APIAutomationprograms">
        <classes>
            <class name="com.Anishsinha.ex_03_TestNG_AllureReport.APITesting_Lab06_TestCase">
            </class>
        </classes>
    </test>
</suite>
